<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="UTF-8" />
    <title>Trainingcenter</title>
  </head>
  <body>
    <h1>Training list</h1>
    <h1>Hello <span sec:authentication="name"></span>!</h1>
    <table border="1">
      <thead>
        <tr>
        <th>time</th>
        <th>coach</th>
        <th>level</th>
        <th>movement</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iterate over the list of books -->
        <tr th:each="training : ${trainings}">
          <td th:text="${training.time}"></td>
          <td th:text="${training.coach}"></td>
          <td th:text="${training.level}"></td>
          <td th:text="${training.movement.name}"></td>
          

          <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{'/deletetraining/' + ${training.id}}">Delete</a></td>
          <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{'/edittraining/' + ${training.id}}">Edit</a></td>
            
          
        </tr>   
      </tbody>
    </table>
    <td sec:authorize="hasAuthority('ADMIN')"><a href="/addtraining">add training</a></td>
    <td><a href="/movementlist">To movements</a></td>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out"/>
     </form>
     </form>
  </body>
</html>
